
.header-container{
    position: fixed;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
}
.header-dtl{
    width: 95%;
    margin: auto;
    display: flex;
    transition: 0.2s ease-in-out;

    
}

.logo-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}
.logo-container div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 1rem;
}
.logoTl{
    transition: 0.2s ;
    margin: 0;
    font-size: 1.5rem;
    color: var(--blueblackCC);
    transition: 0.5s cubic-bezier(0.68, -0.85, 0.165, 2);

}
.logoUtl{
    font-size: 1rem;
    margin-top: -4px;
    color: var(--blueblackCC);
    letter-spacing: 1px;
    transition: 0.5s cubic-bezier(0.68, -0.85, 0.165, 2);

}
.logo{
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.logo:hover{
    filter: blur(1px);
}

.toggle-menu{
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
.toggle-menu div{
    margin-top: 0.5rem;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.toggle-menu div:hover{

    filter: blur(1px);

}
.tglline{
    margin: 4px;
    background: var(--meddleblackCC);
    width: 45px;
    height: 3px;
    border-radius: 50px;
}
.shorterline{
    width: 30px;
}
.lilshort{
    width: 32px;
}
.menu-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: -400%;
    right: 0;
    width: 0;
    height: 0;
    background: url(../../sourcefile/blob.svg)no-repeat;
    background-size: cover;
    background-position: top;
    transition: 0.2s cubic-bezier(0.68, -0.85, 0.265, 2);
}
.menu-open{
    width: 100vh;
    height: 100vh;
    top: 0;
    right: 0;
    transition: 0.5s cubic-bezier(0.68, -0.85, 0.165, 2);
}

.screen{
    display: flex;
    top: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: -100px;
    background: rgba(94, 94, 94, 0.274);
    backdrop-filter: blur(10px);
    transition: 0.5s;
}
.screendspd{
    margin-left: 0px;
    width: 5000px;
    height: 5000px;
    border-radius: 0;
    transition: 0.5s;
}

.menu-link{
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    padding:1rem;
    font-size: 5rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--white);
    transition: 0.2s;
    

}
.menu-link:hover{
    transform: scale(1.3);
    font-weight: 600;
    transition: 0.2s cubic-bezier(0.68, -0.85, 0.265, 2);
}
