*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background:#f4f9ff;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-weight: 600;
    margin-bottom: 1rem;
}


/* root */

:root{
    --bgCC:#222831;
    --whiteCC: #ffffff;
    --white: #ffffff;

    --blackCC: #1a202c;
    --blueblackCC: #364962;
    --darkCC: #0b2643;
    --yellowCC: #ffad28;
    --pinkCC: #d95877;
    --lilaCC: #695784;
    --blueCC: #225cff;
    --lightPink: #FF6A95;
    --darkPink: #F073C8;
    
    /* meddle colors */

    --meddlepinkCC: #d9587686;
    --meddleblackCC: #9aa4b0;
    --meddleDarkFont: #a295bd;

    /* light CC */
    --lightyellowCC:#ffd369; 
}


/* 
/////////

        presentation section

/////////
*/
/*  section one */



.btnWorks{
    background: linear-gradient(90deg, #F073C8 0%, #FF6A95 99%);
    padding: 12px 20px;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition:all 0.2s;
    position: fixed;
    bottom: 10%;
    left: 5%;
    z-index: 2;
}
.btnWorks:hover,
.btnWorks:active,
.btnWorks:focus{
  background: linear-gradient(90deg, var(--lightPink) 0%, var(--darkPink) 99%);
  transition: 0.3s;
  border-radius: 50px;
}
.btnWorks .fas{
    transform: rotate(180deg);
    margin-right: 10px;
}
.btnWorks:hover > .fas{
    transition: 0.3s;
    opacity: 1;
    margin-left: 10px;
  }
.each-project-presentation{
    /* margin: 10rem 0; */
    width: 100%;
    height: 100%;
}
.each-project-sec-one{
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/nedladdning.png);
}

.circle-epp{
    background: rgba(7, 11, 41, 0.815);
    width: 80vh;
    height: 80vh;
    border-radius: 50%; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 30px 200px -12px #011a3180;

}
.img-sec-one{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    filter: drop-shadow(0 5px 30px #0168c9ad);

}

/* 
/////////

        section one

/////////
*/
/*  section one */



.each-project-sec-two{
    height: 60vh;
    width: 100%;
}
.each-p-bg-sec-two{
    background: url(img/bg-particals.svg)no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.intro-text-mini{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text-mini h1{
    margin: auto;
    width: 60%;
    font-size: 4rem;
    text-align: right;
    font-weight: 700;
    background: -webkit-linear-gradient(var(--pinkCC), var(--darkPink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1px);
}

.intro-sec-two{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro-sec-two img{
    /* width: 100%; */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}
.intro-sec-two h1{
    display: none;
    color: white;
    position: absolute;
    top: -20%;
    width: 50%;
    margin: auto;
    filter: blur(2px);
    font-size: 3rem;
}

.intro-sec-two .text-intro-for-overview{
    display: none;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 20%;
    border-left: 1px solid #fb3585;
    padding: 1rem 2rem;
    font-size: 1rem;
}



/* 
/////////

        image slider

/////////
*/

.prev-cont{
    width: 100%;
    margin: auto;
    background: url(./img/bg-second-sec.svg)no-repeat, center;
    background-size: cover;
}

.bg-prev{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.intro-prev{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.top-line{
    width: 40px;
    height: 5px;
    background: var(--lightPink);
}
.intro-prev h1{
    font-size: 3rem;
    color: var(--meddleDarkFont);
}
.content-prev{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--whiteCC);
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 3px;
  user-select: none;
  background: var(--lightyellowCC);
}

/* Position the "next button" to the right */
.next {
  right: 30%;
  border-radius: 3px 0 0 3px;
}
.prev{
    left: 30%;
    /* left: 0; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--lightPink);
  color: var(--white);
}

/* Caption text */
.text {
  color: var(--blueblackCC);
  font-size: 15px;
  position: absolute;
  padding: 1rem;
  top: 0%;
  width: 100%;
  background: rgba(255, 255, 255, 0.644);
  text-align: center;
  /* bottom: 8px; */
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}
.mySlides:hover > .text{
    opacity: 1;
}
.mySlides{
    position: relative;
    box-shadow: 0 20px 50px -12px rgba(137, 43, 226, 0.247);

}
/* Number text (1/3 etc) */
.numbertext {
  color: var(--blueblackCC);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--lightPink);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* 
/////////

        section two

/////////
*/
.each-project-sec-three{
    width: 100%;
    height: auto;
}
.each-p-bg-sec-three{
    background: #23252e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro-sec-three{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 40%;
    margin: auto;
}

.intro-sec-three .title-sec-three{
    color: white;
    font-size: 4rem;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.intro-sec-three .desc-sec-three{
    color: gainsboro;
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 2em;
    width: 100%;
}
/*  imges */


.slide-imgs{
    width: 100%;
    /* animation: slideShow 20s linear infinite; */
}

/* .circle-right-sec-three{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    animation: gradient-fade 50s linear infinite;
    width: 50%;
    filter: blur(1px) drop-shadow(0 0 5px white);
}
@keyframes slideShow {
    0%{
        transform: translateX(0);
    }50%{
        transform: translateX(-100%);
    }100%{
        transform: translateX(0%);
    }
}

@keyframes gradient-fade {
    from {
      transform:rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */




  /* 
/////////

        section four

/////////
*/

.each-project-sec-four{
    width: 100%;
    height: 100vh;
}
.each-p-bg-sec-four{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.ttl{
    margin-top: 5rem;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.title-sec-four{
    color:var(--meddleblackCC);
    font-size: 3rem;
    width: 100%;
}
.color-chose-sec-four{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background: url(img/nedladdning.png);
    margin-bottom: 3rem;


}

.under-title{
    color:var(--meddleblackCC);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-left: 4px dotted #ffbb33;
}
.color-chose-color{
    display: flex;
    background: #dce4f3;
    border-radius: 10px;
    padding: 1rem;
}
.color-chose-color div{
    margin-left: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.dark-rosa{
    background: #FF3E6F;
}
.white{
    background: #FEFEFE;
}
.dark-gray{
background:#8492A6 ;
}
.dark-white{
background:#F5F5FC ;
}
.blue{
background: #3C98FD;
}
.black{
background: #000000;
}
.green{
background: #49E390;
}



.intro-sec-four{
    margin: 3rem 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: url(img/nedladdning.png);
    background-size: 40px;
    
}


.intro-sec-four div{
    width: 50%;
}
.desc-sec-four{
    color: var(--meddleDarkFont);
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 2em;
    width: 100%;   
}


/* 
/////
/////

    swipe js

/////
/////
*/



/* 
/////
/////

    footer

/////
/////
*/

footer{
    width: 100%;
    height: 50vh;
    margin: auto;
    background: url(./img/bg-footer.svg)no-repeat, rgb(232, 235, 248);
    background-size: cover;
}
.content-ft{

    height: 70%;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ttl-ft{
    font-size: 2.5rem;
    color: var(--blackCC);
    font-weight: 600;
}
.utl-ft{
    color: var(--meddleblackCC);
    font-size: 16px;
}

.hire-btn{
    background: linear-gradient(90deg, #F073C8 0%, #FF6A95 99%);
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
    position: relative;
}

.hire-btn i {
    /* margin-right: -30px; */
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 30%;
    /* right: 5%; */
    height: 100%;
    position: absolute;
    animation: hire 2s infinite linear;
}

.hire-btn:hover{
    background: linear-gradient(90deg, var(--lightPink) 0%, var(--darkPink) 99%);
    transition: 0.3s;
}

@keyframes hire {
    0%{
        left: 40%;
    }
    50%{
        left: 45%;
    }
    100%{
        left: 40%;
    }
}





@media only screen and (max-width: 1024px){
    .intro-sec-two{
        width: 90%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .next{
        right: 10%;
    } 
    .prev{
        left: 10%;
        
    }
    .intro-sec-four{
        width: 100%;
        display: flex;
    }
    .intro-sec-four img{
        width: 300px;
    }
    .each-p-bg-sec-two{
        flex-direction: column;
        width: 100%;
    }
    .intro-text-mini{
        position: relative;
        z-index: 1;
        height: 100%;
        margin: auto;
        margin-top: 100px;
    }
    
    
    .intro-sec-two img{
        width: 100%;
        position: absolute;
        filter: blur(5px);
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.5;
    }

    .slide-imgs{
        width: 100%;
    }
    .each-project-sec-three{
        height: fit-content;
    }
    .intro-sec-three{
        background: var(--lightPink);
        padding: 1rem;
        border-radius: 5px;

    }
    .intro-sec-three .title-sec-three{
        font-size: 2rem;
    }
    .intro-sec-three .desc-sec-three{
        font-size: 0.8rem;
        color: var(--darkCC);
    }
    .each-p-bg-sec-four{
        width: 80%;

    }
    
}
@media only screen and (max-width: 667px){
    
    

    /* included slide image  */
    
    .mySlides{
        width: 80%;
    }
    .next {
        right: 0%;
        border-radius: 3px 0 0 3px;
    }
    .prev{
          border-radius: 3px 0 0 3px;
          left: 0%;
          /* left: 0; */
      }


      .each-p-bg-sec-four{
        width: 100%;

    }
.each-project-presentation{
    /* margin: 10rem 0 0 0; */
    width: 100%;
    height: 100%;
}
.each-p-bg-sec-two{
    height: 100%;
    margin: auto;
}

.under-title{
    width: 88%;
}
.intro-text-mini {
    position: absolute;
    height: 100%;
    margin-top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
/* background: yellow; */
}
.intro-text-mini h1{
    /* background: red; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100%; */
    margin: auto;
    font-size: 3rem;
}
    .intro-sec-two{
        width: 95%;
    }
    .intro-sec-two img{
        width: 100%;
        position: absolute;
        height: 100%;
        filter: blur(5px);
        left: 0;
        /* background: red; */
        top: 10%;
        z-index: 0;
        /* top: 0; */
        opacity: 0.5;
    }
    .title-sec-four{
        font-size: 2rem;
        text-align: left;
        margin: 2rem 0;
    }
    .intro-sec-three{
        position: relative;
        width: 90%;
        margin: auto;
        left: 0;
        background: var(--lightPink);
        margin-top: 20px;

    }
    .each-project-sec-four{
        height: auto;

    }
    .each-project-sec-two{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100%; */
        width: 100%;
        margin: auto;

    }
    .each-project-sec-four{
        margin-top: 100px;
    }
    .color-chose-color div{
        margin-left: 0.5rem;
    }
    .color-chose-color{
        margin-top: 2rem;
    }
    .color-chose-sec-four{
        flex-direction: column;
    }
    .intro-sec-four{
        margin: 0;
        width: 100%;
        flex-direction: column-reverse;
    }
    .intro-sec-four img{
        width: 80%;
    }
    .intro-sec-four div{
        width: 90%;
    
    }
    .intro-text-mini h1{
        width: 90%;
    }



    /* footer */

    .content-ft{
        width: 90%;
        flex-direction: column;
        height: 80%;
        justify-content: space-around;
    }

    .hire-btn i{
        animation: none;
        position: absolute;
        margin-left: 80px;
        color: var(--lightPink);
        
    }
    .hire-btn{

        width: 100%;
    }
}