
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.App{
    font-family: 'Raleway', sans-serif;
}

:root{
    --bgCC:#222831;
    --whiteCC: #ffffff;
    --white: #ffffff;

    --blackCC: #1a202c;
    --blueblackCC: #364962;
    --darkCC: #0b2643;
    --yellowCC: #ffad28;
    --pinkCC: #d95877;
    --lilaCC: #695784;
    --blueCC: #225cff;
    --lightPink: #FF6A95;
    --darkPink: #F073C8;
    
    /* meddle colors */

    --meddlepinkCC: #d9587686;
    --meddleblackCC: #9aa4b0;
    --meddleDarkFont: #a295bd;

    /* light CC */
    --lightyellowCC:#ffd369; 
}
:root{
    --whiteBg: #f5f7fc;
    --darkCC: #52057b;
    --darkppl: #7e04e8;
    --meddleppl: #a04ff1;
    --whiteppl: #bf81ff;
    --dark: #020202;

    /* btns */
    --lightBtn: #8c1979;
    --darkBtn: #510767;
    /* extra */
    --lightgreen: lightgreen;
    
}

/* imprtted root */


:root{
    --lightgreen: lightgreen;
    --darkgreen: rgb(105, 223, 105);
    --lightgray: #f0f0f0;
    --darkgray: #dbdbdb;
    --darkfont: #222831;
    --white: rgba(255, 255, 255, 0.541);
    --gradient: 230deg, #f073c8, #ff6a95;
    --warning: #ec0101;
    --darkwarning: #cd0a0a;
    /* background primary color */
    --bgp: #fffff;
    /* extra color */
    --pinky: #F073C8;
    --pinky2: #FF6A95;
    --pink: #f7498e;

    /* color for the table */
    --darkblue: #120e34 ;
    --lightblue: #3c376a;
    --meddleblue: #332e60;
    --meddledblue: #342e68;
    --whiteTableCC: #f2f2f2;
  }
  



/****  scroll   ***/
.scroll {
    position: absolute;
    bottom: 10px;
    left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-scroll{
    color: var(--meddleDarkFont);
    transform: rotate(90deg);

}
.scroll-i img {
    width: 35px;
    margin-top: 50px;
    animation: scroll 1s cubic-bezier(0.65, -0.55, 0.25, 1.5)infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}


/*****************************
******************************
         Go to top btn
******************************
******************************/
#btntop {
    position: fixed;
}

#topBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
    cursor: pointer;
    transition: top 0.8s;
    display: none;
    transition: 0.2s;
    background: var(--bgCC);
    padding: 5px;
    border-radius: 50px;
    z-index: 10;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.089);
}
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 1;
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}




::-moz-selection { 
    background: var(--darkPink);
}

::selection {
    color: var(--white);
    background: var(--darkPink);
  }

  
/*////////

    scrollbar 

////////*/
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background: none;
}

/* ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 20px rgba(110, 97, 97, 0.2);
} */
::-webkit-scrollbar-thumb{
    background: var(--meddleblackCC);
    border-radius: 50px;
}