

/* 
//////
//////

///////////     1024 px

//////
//////

*/
@media only screen and (max-width: 1500px){
    .items-ddd-prj .each{
        width: 20%;
        height:250px;
    }
    .bg-s-one{
        background-attachment: fixed;
    }
}


@media only screen and (max-width: 1024px){

    
    /* intro text and animation background */
    .details-intro-sec{
        position: absolute;
        z-index: 2;
        width: 60%;
        margin: auto;
    }
    .intro-img{
        position: absolute;
        width: 100%;
        opacity: 0.5;
    }
    
    /* scroll */
    .scroll{
        width: 100%;
        margin: auto;
        left: 0;
    }
    .text-scroll{
        display: none;
    }
    /* btn works */
    .transferBtn{
        margin-left: -10%;
        margin-bottom: -80%;
    }
    
    /* divided projects */
    .divided-project{
        width: 80%;
        margin: auto;
        height: 100vh;
        
    }
    .bg-ddd-prj{
        width: 100%;
        height: auto;
    }
    .items-ddd-prj{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10%;
    }
    .items-ddd-prj .each{
        width: 100%;
    }


    /* latest project section */
    .intro-text-s-one{
        width: 80%;
    }
    #primary-title-sections{
        font-size: 2.5rem;
        filter: blur(1px);
    }

    .bg-s-one{
        width: 90%;
    }
    .intro-s-one{
        width: 100%;
    }

    /*  about section */
    .intro-abme{
        flex-direction: column-reverse;
    }
    .btnGithub{
        margin-left: 1rem;
        
    }
    .btns-cv{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
    }
    #myName{
        margin: auto;
        width: 90%;
        font-size: 2.5rem;
        filter: blur(1px);
    }
    .intro-text-abme{
        padding: 0;
        width: 70%;
    }
    .download-resume {
        width: 100%;
    
    }
    .pfp{
        display: none;
    }

    /*  footer */
    .footer{
        height: auto;
    }
    .intro-footer{
        width: 90%;
    }
    
    /* extra */

    /* adds */
    .higher-cont{
        width: 50%;
        
    }


}



/* 
//////
//////

///////////     iphone 7 px

//////
//////

*/

@media only screen and (max-width: 667px){
    /* animated particales */
    .shape2,
    .shape6{
        right: 10%;
    }
    /* menu */
    .menu-open{
        left: 0;
        right: 0;
        top: 0;
        height: 40vh;
        width: 80%;
        margin: auto;
        margin-top: 50px;
    
    }
    /* intro text and animation background */
    .details-intro-sec{
        position: absolute;
        z-index: 2;
        width: 80%;
        margin: auto;
    }
    
    .intro-img{
        position: absolute;
        width: 100%;
        opacity: 0.5;
    }
    .firstImg{
        width: 40%;
    }
    .intro-text-abme{
        width: 90%;
    }
    .furthImg{
        width: 10%;
    }
    #animated-textt{
        width: 90%;
        margin: 1rem 0;
        font-size:2.5rem;
    }
    .menu-link{
        font-size: 2rem;
    }
    .btn-open-contact{
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;

    }
    .btnWorks {
        width: auto;
    }
    .transferBtn{
        position: fixed;
        left: 2%;
        bottom: 2%;
        margin: 0;
    }
    .transferBtn{
        position: fixed;
        transition: 0.3s;
        left: 0;
        margin-left: 0;
        margin-bottom: 0%;
        border-radius: 0 50px 50px 0;
        z-index: 10;
        transition:all 1s cubic-bezier(0.68, -0.85, 0.265, 2);
    }
    .logoTl{
        font-size: 1rem;
    }
    .logoUtl{
        font-size: 0.5rem;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
    .tglline{
        width: 30px;
        margin: 3px;
    }

    /* welcome section */
    
    .an{
        font-size: 1rem;
    }
    .txt-rotate{
        font-size: 2rem;
    }
    .DeveloperS{
        font-size: 1rem;
    }
    .btnGithub{
        margin: 0;
        padding: 0;
    }
    .anime{
        padding: 1rem;
        font-size: 1.5rem;
    }

    /* divided projects section */
    .divided-project{
        width: 90%;
        margin: 0 auto;
        height: 100%;
        /* margin: 100px; */

    }
    .bg-ddd-prj{
        width: 100%;
        height: 200vh;
    }
    .intro-ddd-prj{
        width: 90%;
    }
    .items-ddd-prj{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5%;
    }
    .test-project{
        flex-direction: column;
        margin: 0;
    }
    .test-details-project{
        position: relative;
        width: 100%;
        margin: 0.5rem 1rem 2rem 1rem;
        box-shadow: none;
    }
    .items-ddd-prj .each{
        width: auto;
    }
    /* latest projects section */
    .aboutMe{
        height: auto;
        margin-bottom: 5rem;
    }
    #primary-title-sections{
        font-size: 2.5rem;
        filter: blur(2px);
    }
    .bg-abme{
        width: 90%;
    }
    .bg-s-one{
        width: 95%;
        padding: 1rem;
    }
    /* about section */
    .btns-cv{
        display: block;

    }
    .aboutMe{
        background-size: 20px;
        padding: 5rem 0;
    }
    .btns-cv a{
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
    }
    .settat{
        margin-top: 3rem;

    }
    .pfp{
        display: none;
        width: 20%;
        position: absolute;
        right: 10%;
        top: 10%;
    }
    .an-p{
        word-spacing: 1px;
        letter-spacing: 0px;
        padding: 1rem 0;
    }
    
    /* footer */
    .footer{
        height: auto;
        position: relative;

    }
    .bg-footer{
        height: auto;
        width: 100%;
    }
    .intro-footer{
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .footer-text{
        width: 90%;
        margin: auto;
    }
    .footer-contact {
        width: 100%;
        margin: auto;
    }

    .footer-developed{
        position: relative;
        width: 90%;
        height: 100%;
        margin: 50px auto 100px;
        align-items: center;
        text-align: center;
        /* margin-bottom: 100px; */
    }
    .footer-developed p{
        text-align: center;
        width: 100%;
    }
    .info-footer p{
        color: var(--meddleblackCC);
        text-decoration: none;
    }


    /*  extra css query */
    #topBtn{
        right: 5%;
        bottom: 3%;
    }

    /* adds */
    .higher-cont{
        width: 90%;
        
    }

    .switch-cont{
        /* top: 10%; */
        left: auto;
        right: 0;
        bottom: 5%;
        transform: translate(-50%);

    }
}