@import './partial/works.css';
@import './partial/about-me.css';
@import './partial/welcome.css';
@import './partial/header.css';
@import './partial/animation.css';
@import './partial/adds.css';
@import './partial/footer.css';
@import './partial/konsoltation.css';
@import './partial/switch.css';
@import './mobile.css';

.sections-container{
    min-width: 100%;
    margin: auto;
}



body{
    background: var(--whiteCC);
}